<main class='p-5'>
  <h3>
    Music!<i class='bi bi-boombox-fill'></i>
    <i class='fa-solid fa-star' style='color: #ff0000;'></i>
  </h3>

  <btn class='btn btn-warning'>
    <i class='bi bi-check2-circle'></i>
    <i class='fa-solid fa-star' style='color: #ff0000;'></i>
  </btn>

  <div>
   <img src="/svg/slack.svg">
  </div>
</main>