{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div class='row m-3'>
  <div class='card'>
    <div class='card-body'>
      <div>Латинник Іеронім</div>
      <div class='text-end'>Resume-pet</div>
    </div>
  </div>
  
  <h3>Список сторінок</h3>
  <p>Це мій пет-проект</p>
  <div class="card">
    <div class="card-body">
      <a href="/work" class="btn btn-primary">work</a>
      <a href="/bio" class="btn btn-primary">bio</a>
      <a href="/car" class="btn btn-primary">car</a>
      <a href="/education" class="btn btn-primary">education</a>
      <a href="/facebook" class="btn btn-primary">facebook</a>
      <a href="/js" class="btn btn-primary">js</a>
      <a href="/mac" class="btn btn-primary">mac</a>
      <a href="/person" class="btn btn-primary">person</a>
      <a href="/program" class="btn btn-primary">program</a>
      <a href="/shopcart" class="btn btn-primary">shopcart</a>
      <a href="/shopcatalog" class="btn btn-primary">shopcatalog</a>
      <a href="/shophome" class="btn btn-primary">shophome</a>
      <a href="/shoporder" class="btn btn-primary">shoporder</a>
      <a href="/shopprofile" class="btn btn-primary">shopprofile</a>
      <a href="/shopreview" class="btn btn-primary">shopreview</a>
      <a href="/skills" class="btn btn-primary">skills</a>
      <a href="/summary" class="btn btn-primary">summary</a>
      <a href="/task21" class="btn btn-primary">task21</a>
      <a href="/task22" class="btn btn-primary">task22</a>
      <a href="/task31" class="btn btn-primary">task31</a>
      <a href="/web" class="btn btn-primary">web</a>

    </div>
  </div>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}