<main>
    <div class="row-12 bg-secondary">
    <div class="card text-bg-warning">
        <div class="card-body">
           <div class="display-1 text-center">Interesting Facts</div>
           
        </div>
    </div>
    <br> 
    <section class="row-12">
            <div class="card col-6">
    <img class="card-img-top col-6" src="https://www.sportscounty.com/wp-content/uploads/2020/12/Interesting-Football-Facts.webp" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">Football is one of the oldest known sports known to humankind with records found dating over 2,000 years in China. Greece, Rome, and parts of Central America have also made claim to have started this sport and with such a long history</h5>
      <a href="https://www.sportscounty.com/" class="btn btn-primary">Learn more</a>
    </div>
   </div>
        </section>
        <br> 
    <section class="row-12">
            <div class="card col-6">
    <img class="card-img-top col-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtJKPfN23VDiDBKJXesp2CKM8FPIdr364aZQ&usqp=CAU" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">The Baby shark is the most popular video on youtube</h5>
        <p>12 Billion views</p>
      <a href="https://www.youtube.com/watch?v=XqZsoesa55w" class="btn btn-primary">Learn more</a>
    </div>
   </div>
        </section>
    </div>           
</main>