<main>
    <div class="row-12 bg-primary">
    <div class="card text-bg-warning">
        <div class="card-body">
           <div class="display-1 text-center">Interesting Facts</div>
        </div>
    </div>
    <br>
    <a href="https://www.scrolldroll.com/interesting-facts-about-youtube/" class="btn btn-warning">Youtube facts</a>
    <a href="https://www.beano.com/posts/scary-facts" class="btn btn-warning">Creepy facts</a>
    <a href="https://www.womansday.com/life/entertainment/a37170576/fun-facts/" class="btn btn-warning">Funny facts</a>
    <h4 class="text-end text-warning">More facts every day🙂</h4>
    <hr>
    <section class="row-12">
            <div class="card col-6">
    <img class="card-img-top col-6" src="https://www.sportscounty.com/wp-content/uploads/2020/12/Interesting-Football-Facts.webp" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">Football is one of the oldest known sports known to humankind with records found dating over 2,000 years in China. Greece, Rome, and parts of Central America have also made claim to have started this sport and with such a long history</h5>
      <a href="https://www.sportscounty.com/" class="btn btn-primary">Learn more</a>
    </div>
   </div>
        </section>
    <section class="row-12">
            <div class="card col-6">
    <img class="card-img-top col-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtJKPfN23VDiDBKJXesp2CKM8FPIdr364aZQ&usqp=CAU" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">The Baby shark is the most popular video on youtube</h5>
        <p>12 Billion views</p>
      <a href="https://www.youtube.com/watch?v=XqZsoesa55w" class="btn btn-primary">Learn more</a>
    </div>
   </div>
        </section>
        <section class="row-12">
            <div class="card col-6">
    <img class="card-img-top col-6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLNWOS0OKSft9RDRe4jns7NTZ_oM989EaWLA&usqp=CAU/1000/500" alt="Product photo">
    <div class="card-body">
        <h5 class="card-title">Alaska is the largest state in the United States in land area at 586,412 square miles (1,518,800 km2), over twice the size of Texas, the next largest state. Alaska is larger than all but 18 sovereign countries</h5>
      <a href="https://alaskapowder.com/" class="btn btn-primary">Learn more</a>
    </div>
   </div>
        </section>
    </div>           
</main>